:root {
  --cor-primaria: #0a6964;
  --cor-secundaria: #feca47;

  --cor-branco: #ffffff;
  --cor-cinza: #9197b3;

  --cor-texto-primario: #252621;
  --cor-texto-secundario: #333333;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  background-color: #f0f1ec;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 1rem 1.7rem;
  overflow: hidden;
  transition: all 0.5s ease-out;
  background: var(--cor-branco);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar--active {
  width: 400px;
  transition: 0.5s;
  display: block;
}

.logo {
  height: 95px;
  padding: 16px;
  margin-bottom: 1rem;
}

.logo img {
  width: 100%;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  font-size: 14px;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  color: var(--cor-cinza);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu li:hover,
.item-menu.active {
  color: var(--cor-primaria) !important;
  font-weight: 600;
  background-color: var(--cor-secundaria);
}

a {
  text-decoration: none;
}

.menu li span,
.logo-texto {
  display: none;
}

.logo-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu li i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* MAIN */
.main--content {
  position: relative;
  background: #f0f1ec;
  width: 100%;
  max-width: 1700px;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}

.header--wrapper img:hover {
  transform: scale(1.1);
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--cor-branco);
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
  height: 95px;
}

.header--title {
  color: var(--cor-texto-primario);
}

.header--title span {
  font-size: 14px;
  color: var(--cor-cinza);
}

.card--content {
  background-color: var(--cor-branco);
  padding: 2rem;
  border-radius: 10px;
  max-width: 1700px;
  width: auto;
  flex: 1;
  position: relative;
}

/* CARD */
.card--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}

@media (max-width: 680px) {
  .header--wrapper {
    height: auto;
  }

  .sidebar {
    display: none;
  }

  .card--content {
    background-color: transparent;
    padding: 0;
  }

  .input-container {
    grid-template-columns: 1fr;
  }
}
