:root {
  --cor-primaria: #1040ba;
  --cor-secundaria: #ececec;

  --cor-bg: #f0f1ec;

  --cor-branco: #ffffff;
  --cor-cinza: #9197b3;

  --cor-texto-primario: #1f1f1f;
  --cor-texto-secundario: #333333;
  --cor-texto-terciario: #acacac;

  --cor-azul-pastel: #dfecff;
  --cor-vermelho-pastel: #ffbfb0;
  --cor-amarelo-pastel: #fceebf;
  --cor-verde-pastel: #c7fde6;

  --cor-error: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  background: var(--cor-bg);
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 1rem 1.7rem;
  overflow: hidden;
  transition: all 0.5s ease-out;
  background: var(--cor-branco);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar--ativo {
  width: 400px;
  transition: 0.5s;
  display: block;
}

.logo {
  height: 95px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.logo h1 {
  display: none;
  margin-left: 16px;
}

.logo img {
  width: 100%;
  height: 50px;
  width: 50px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  font-size: 14px;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  color: var(--cor-cinza);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu li:hover,
.item-menu.ativo {
  color: var(--cor-branco);
  font-weight: 600;
  background: var(--cor-primaria);
}

a {
  text-decoration: none;
}

.menu li span,
.logo-texto {
  display: none;
}

.logo-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu li i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* MAIN */
.main--container {
  position: relative;
  background: var(--cor-bg);
  width: 100%;
  max-width: 1700px;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header--conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--cor-branco);
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
  height: 95px;
}

.header--titulo {
  color: var(--cor-texto-primario);
}

.header--titulo span,
.configuracoes--container form span {
  font-size: 14px;
  color: var(--cor-cinza);
}

.card--container,
.table--container,
.cadastro-veiculo--container,
.dashboard--container,
.configuracoes--container {
  background: var(--cor-branco);
  padding: 2rem;
  border-radius: 10px;
  max-width: 1700px;
  width: auto;
  flex: 1;
  position: relative;
}

/* CARD */
.card--conteudo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}

.card {
  border-radius: 8px;
  background: var(--cor-branco);
  padding: 24px;
  display: grid;
  gap: 16px;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.veiculo-info,
.item-dashbord {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}

.tipo-veiculo {
  border-radius: 8px;
  background: var(--cor-primaria);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-secundaria);
}

.numero-vaga .material-symbols-outlined {
  font-size: 32px;
}

.detalhes-veiculo svg {
  align-items: center;
  justify-self: center;
}

.status {
  border-radius: 4px;
  color: var(--cor-texto-primario);
  font-size: 10px;
  padding: 0 8px;
  justify-self: end;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
}

.status span {
  font-size: 12px;
}

.status.cancelado {
  background: var(--cor-vermelho-pastel);
}

.status.liberado {
  background: var(--cor-verde-pastel);
}

.status.estacionado {
  background: var(--cor-amarelo-pastel);
}

.status.baixa {
  background: var(--cor-azul-pastel);
}

.nome-condutor {
  color: var(--cor-texto-primario);
  font-size: 14px;
  font-weight: 600;
}

.mais-detalhes,
.item-dashbord .descricao {
  color: var(--cor-texto-terciario);
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

hr {
  border: none;
  height: 1px;
  background: #0000001a;
}

.acoes-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 8px;
}

button,
input[type="submit"],
.acoes-card a {
  width: 100%;
  border: 0;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.botao {
  width: 100%;
  border: 0;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.botao.primario {
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.botao.secundario {
  background: var(--cor-secundaria);
  color: var(--cor-texto-secundario);
}

.mais-detalhes span:last-child {
  justify-self: end;
  text-align: end;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: var(--cor-branco);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 16px;
  text-align: left;
  color: rgb(172, 172, 172);
  list-style: none;
  font-size: 12px;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--cor-primaria);
}

th {
  background: var(--cor-primaria);
  color: var(--cor-branco);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
}

td .status {
  display: inline-flex;
}

tr:hover {
  background: #f9f9f9;
}

/* CADSATRO */
.selecao-tipo-veiculo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 900px;
  gap: 24px;
  padding: 1rem 0;
}

.opcao-tipo-veiculo {
  border-radius: 8px;
  background: var(--cor-branco);
  padding: 24px;
  display: grid;
  gap: 16px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.opcao-tipo-veiculo.ativo {
  border: 1px solid var(--cor-primaria);
  box-shadow: none;
  color: var(--cor-primaria);
}

.opcao-tipo-veiculo.ativo span {
  font-weight: 600;
  color: var(--cor-texto-primario);
}

.opcao-tipo-veiculo span {
  font-size: 14px;
  color: var(--cor-cinza);
}

.grupo-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 440px));
  gap: 20px;
  padding: 1rem 0;
  max-width: 900px;
}

.acoes-cadastrar-veiculo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 210px));
  gap: 20px;
  padding: 2.5rem 0;
  place-content: end;
  max-width: 900px;
}

.acoes-cadastrar-veiculo button,
.acoes-cadastrar-veiculo input {
  height: 45px;
}

/* INPUTS */
.input-formulario {
  position: relative;
}

.input-formulario input {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid var(--cor-cinza);
  background: transparent;
  color: var(--cor-cinza);
  outline: none;
}

.input-formulario label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--cor-cinza);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

input:focus ~ label,
.input-formulario input.preenchido ~ label,
input:disabled ~ label {
  top: 0;
  left: 15px;
  font-size: 12px;
  padding: 0 2px;
  background: var(--cor-branco);
}

.input-erro {
  border: 1px solid var(--cor-error) !important;
}

.input-erro ~ label {
  color: var(--cor-error) !important;
}

/* CONFIGURACAO */
.configuracoes--container .grupo-input {
  padding: 0.5rem 0 1rem;
}

.configuracoes--container .grupo-input {
  grid-template-columns: 2fr 1fr 1fr;
}

/* RESUMO */
.item-dashbord .icone {
  border-radius: 50%;
  background: var(--cor-branco);
  color: var(--cor-branco);
  padding: 15px;
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  justify-content: center;
  font-size: 16px;
}

/* MODAL */
.modal--container {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.exibirModal {
  pointer-events: auto;
  opacity: 1;
  padding: 1rem;
}

.modal {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  border-radius: 8px;
  background: var(--cor-branco);
  padding: 24px;
  display: grid;
  gap: 16px;
}

/* SNACKBAR SUCESSO */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  text-align: start;
  border-radius: 8px;
  background: var(--cor-branco);
  padding: 24px;
  gap: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--cor-texto-terciario);
  font-size: 14px;
  margin: 0 16px;
}

#snackbar span {
  display: block;
  text-align: start;
  color: var(--cor-texto-primario);
  font-weight: 600;
}

#snackbar > div {
  margin-left: 10px;
}

#snackbar::before {
  content: "";
  width: 8px;
  top: 18px;
  bottom: 18px;
  left: 16px;
  position: absolute;
  background: var(--cor-azul-pastel);
  border-radius: 8px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* CHECKBOx */
.checkbox-formulario {
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: var(--cor-cinza);
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-color: var(--cor-secundaria);
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

input[type="checkbox"]:after {
  font-family: "Material Symbols Outlined";
  content: "check";
  font-size: 28px;
  color: var(--cor-secundaria);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked {
  background-color: var(--cor-primaria);
}

input[type="checkbox"]:checked:after {
  display: block;
}

/* RESPONSIVO */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (max-width: 680px) {
  .header--conteudo {
    height: auto;
  }

  .sidebar {
    display: none;
  }

  .card--content {
    background: transparent;
    padding: 0;
  }

  .grupo-input {
    grid-template-columns: 1fr;
  }

  .card--container {
    padding: unset;
  }
}
